@charset "utf-8";
/* CSS Document */
body,div,p,span,h1,h2,h3,h4,h5,a,input,ul,ol,li,dl,dt,dd,img,textarea{ padding:0; margin:0; list-style:none; border:0; outline:none;}
body{color:#333; font-size:14px; font-family:sans-serif;}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:underline;}


/* bar */
#bar{height:31px;
	 background:#f2f2f2;
	 border-bottom: 1px solid #ddd;
	 font-size:12px;
}
.bar_in{
	width:1200px;
	height:31px;
	margin:0 auto;
}
.bar_in ul a:hover{
	text-decoration:none;
}
.bar_in ul{
	float:right;
	width:480px;
	line-height: 31px;	
}
.bar_in ul li{
	float:left;	
	margin-right: 10px;
}
.bar_in ul .one{
	background:url(../images/bar_line.png) no-repeat right center;
	padding-right:15px;	
}
.bar_in ul .two span{
	background:url(../images/bar_icon2.png) no-repeat left center;
	padding-left: 25px;	
}
.bar_in ul .two span.buy{
	background:url(../images/bar_icon1.png) no-repeat left center;
	padding-left: 25px;	
}
.bar_in ul .two span.shop{
	background:url(../images/bar_icon.png) no-repeat left center;
	display:block;
	float:left;
	padding-left: 25px;	
}
.bar_in ul .three a{
	background:url(../images/bar_arrow.png) no-repeat right center;
	padding-right: 10px;	
}
.bar_in ul li.last{
	margin:0;
}


/* header */
#header{
 width:1200px;
 height:144px;
 margin:0 auto;	
}
.logo{
	width:152px;
	height:51px;
	float:left;
	margin-top: 37px;
}

.logo_c{
	width:502px;
	float:left;
	margin-left:197px;
	margin-top: 40px;
	font-size:12px;
}
.logo_c .search{
	width:500px;
	height:33px;
	background:#fff;
	border: 1px solid #3a3a3a;	
	line-height: 33px;
	text-align:center;
}
.logo_c .search .select{
	width:60px;
	display:block;
	float:left;
	cursor:pointer;
	background:url(../images/header_arrow.png) no-repeat 50px center;
}
.logo_c .search .txt{
	float:left;
	width:355px;
	height:33px;
	padding-left: 15px;
	color:#999;
	
}
.logo_c .search .sub{
	width:70px;
	height:33px; 
	cursor:pointer;
	background:#3a3a3a url(../images/search.png) no-repeat center center;	
}
.logo_c .search_b{
	line-height: 24px;
}
.logo_c .search_b a{
	margin-right: 20px;
	float:left;
	color:#999;
}
.logo_c .search_b a:hover{
	text-decoration:none;
}

.logo_r{
	width:251px;
	height:144px;
	float:right;
	background:url(../images/upload_ifrdgmrwga3gizrwg4zdambqmeyde_251x144.gif);
	position:relative;
}
.logo_r img{
	position:absolute;
	left:105px;
	top:56px;
}


/* menu */
#menu{
	width:auto;
}
.menu_t{
	height:36px;
	border-bottom: 1px solid #ff4466;	
}
.menu_t_in{
	width:1200px;
	height:36px;
	margin:0 auto;
	line-height: 36px;
	text-align:center;
	font-size:16px;
	font-weight: bold;
}
.menu_t_in span{
	width:225px;
	height:36px;
	background:#ff4466;
	display:block;	
	float:left;
	border-radius:5px 5px 0 0;
	color:#fff;
}
.menu_t_in a{
	float:left;
	margin-left: 61px;
}

.menu_b{
	width:1200px;
	height:630px;
	margin:0 auto;
}
.menu_b .menu_b_l{
	width:203px;
	height:550px;
	float:left;
	border:1px solid #ff0000;	
	border-top:0;
	margin-right: 20px;
	padding:0 10px ;
}
.menu_b_l dl{
	height:38px;
	line-height: 39px;
	border-bottom: 1px dotted #c7c7c7;
	padding-left:10px;
}
.menu_b_l dl.final{
	border-bottom:0;
}
.menu_b_l dl dt{
	float:left;
	margin-right: 13px;
	font-weight: bold;
}
.menu_b_l dl dt a{
	color:#333;
}
.menu_b_l dl dd{
	float:left;
	padding-right: 9px;
	background:url(../images/menu_line.png) no-repeat right center;
	margin-right: 7px;
	font-size:12px;
}
.menu_b_l dl dd.last{
	margin:0;
	background:none;
}
.menu_b_l dl dd a{
	color:#666;
}
.menu_b_l dl dd a.red{
	color:#ff4466;
}

.menu_b .menu_b_r{
	width:955px;
	height:530px;
	float:right;
	padding-top: 20px;
}
.menu_b_r .r_left{
	float:left;
}
.menu_b_r .r_right{
	float:right;
	width:180px;
	height:528px;
	border: 1px solid #ddd;
	padding: 0 19px;
}
.r_right span{
	margin-top: 21px;
	display:block;
}
.r_right .r_right_top{
	height:243px;
	border-bottom: 1px dashed #ddd;
}


/* content */
#content{
	width:1200px;
	margin:0 auto;
}

/* cont_top */
.cont_top{
	height:382px;
	border-top: 1px solid #0c0c0c;
}

.cont_top .time{
	float:left;
	width:232px;
	height:271px;
	border: 1px solid #ddd;
	border-top:0;
	padding-top: 24px;
	border-bottom: 5px solid #ff4466;
	position:relative;
}
.time .time_top{
	width:199px;
	height:26px;
	margin-left:10px ;
}
.time_top .timing{
	float:left;
}
.time_top .timekeeper{
	width:96px;
	height:26px;
	float:right;
}
.time_top .timekeeper span{
	float:left;
	line-height: 24px;
	text-align:center;
	font-weight: bold;
	color:#fff;
	font-family:"微软雅黑";
}
.time_top .timekeeper .num{
	width:24px;
	height:24px;
	background:#ff4466;
}
.time_top .timekeeper .dot{
	width:12px;
	height:24px;
}
.time .price{
	background:url(../images/somepic.png) no-repeat 0 -311px;
	position:absolute;
	left:135px;
	top:200px;
	width:74px;
	height:54px;
	text-align:center;
	line-height: 15px;
	padding-top:20px;
	color:#fff;
}
.time .time_pic{
	width:232px;
	height:245px;
	
}

.cont_top_r{
	width:955px;
	height:300px;
	float:right;
}
.cont_top_r .r_pic a{
	float:left;
}
.cont_top_r .r_pic_r{
	float:right;
	width:360px;
	height:300px;
	background:pink;
}
.cont_top_r .r_pic_r .top{
	margin-bottom: 10px;
	display:block;
}

/* cont_good */
.good{
	width:1200px;
	height:627px;
}
.good .good_top{
	height:45px;
}
.good_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.good_top .bg_l{
	float:left;
}
.good_top .bg_r{
	float:right;
}
.good_top h1{
	float:left;
	margin:0 52px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.good .good_down{
	height:500px;
}
.good_down .good_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.good_down_l .top{
	width:223px;
	height:393px;
	background:#fbfbfb;
	overflow:hidden;
}
.good_down_l .top a{
	margin-top: 20px;
	margin-left: 26px;
	display:block;
}
.good_down .down{
	width:223px;
	height:105px;
	font-size:12px;
	overflow:hidden;
}
.good_down .down ul{
	margin-left:8px;
	margin-top:10px;	
}
.good_down .down li{
	float:left;
	height:20px;
	margin-bottom: 10px;
	margin-right:6px;
}
.good_down .down a{
	border: 1px solid #fff;
	padding:3px 5px;
	font-family:"宋体";
}
.good_down .down a:hover{
	border: 1px solid #ddd;
	text-decoration:none;
}
.good_down .down a.wht{
	margin-left:6px;
}
.good_down .down a.shirt{
	margin-left:10px;
}

.good_down .good_down_r{
	width:955px;
	height:498px;
	float:right;
}
.good_down_r .left{	
	width:305px;
	height:500px;
	float:left;
}
.good_down_r .center{	
	width:305px;
	height:500px;
	float:left;
	margin:0 20px;
}
.good_down_r .right{	
	width:305px;
	height:500px;
	float:left;
}
.good_down_down{
	width:305px;
	height:150px;
	margin-top: 20px;
	overflow:hidden;
}
.good_down_down img{
	float:left;
	margin-right: 10px;
}
.good_down_r a:hover{
	text-decoration:none;
}
.good_down_down .tit{
	line-height: 24px;
	margin-top: 50px;
	display:block;
}
.good_down_down .tit .color{
	color:#999;
}

/* cont_brand */
.brand{
	width:1200px;
	height:627px;
}
.brand .brand_top{
	height:45px;
}
.brand_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.brand_top .bg_l{
	float:left;
}
.brand_top .bg_r{
	float:right;
}
.brand_top h1{
	float:left;
	margin:0 66px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.brand .brand_down{
	height:500px;
}
.brand_down .brand_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.brand_down_l .brandl_top{
	width:183px;
	height:214px;
	display:block;
	padding:20px;
	border-bottom: 1px solid #ddd;
}
.brand_down_l .brandl_down li{
	float:left;
	width:111px;
	height:60px;
	background:#ccc;
	border-bottom: 1px solid #ddd;
}
.brand_down_l .brandl_down li.bdr{
	border-right: 1px solid #ccc;
}
.brand_down_l .brandl_down img{
	width:111px;
	height:60px;
	display:block;
}

.brand_down .brand_down_r{
	width:955px;
	height:500px;
	float:right;
}
.brand_down .brand_down_r span{
	float:left;
	border-left: 1px solid #ddd;
}
.brand_down_r .brand_down_rr{
	width:647px;
	height:498px;
	border: 1px solid #ddd;
	float:right;
}	
.brand_down_r li{
	float:left;	
	width:215px;
	height:248px;
	line-height: 24px;
	text-align:center;
}
.brand_down_r li.border{
	border-bottom: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}
.brand_down_r li.border_b{
	border-bottom: 1px solid #ddd;	
}
.brand_down_r li.border_r{
	border-right: 1px solid #ddd;	
}
.brand_down_r li img{
	width:175px;
	height:170px;
	margin:20px;	
}

/* cont_women*/
.women{
	width:1200px;
	height:627px;
}
.women .women_top{
	height:45px;
}
.women_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.women_top .bg_l{
	float:left;
}
.women_top .bg_r{
	float:right;
}
.women_top h1{
	float:left;
	margin:0 50px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.women .women_down{
	height:500px;
}
.women_down .women_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.women_down_l .womenl_top{
	width:183px;
	height:214px;
	display:block;
	padding:20px;
	border-bottom: 1px solid #ddd;
}
.women_down_l .womenl_down li{
	float:left;
	width:111px;
	height:60px;
	background:#ccc;
	border-bottom: 1px solid #ddd;
}
.women_down_l .womenl_down li.bdr{
	border-right: 1px solid #ccc;
}
.women_down_l .womenl_down img{
	width:111px;
	height:60px;
	display:block;
}

.women_down .women_down_r{
	width:955px;
	height:500px;
	float:right;
}
.women_down .women_down_r span{
	float:left;
	border-left: 1px solid #ddd;
}
.women_down_r .women_down_rr{
	width:647px;
	height:498px;
	border: 1px solid #ddd;
	float:right;
}	
.women_down_r li{
	float:left;	
	width:215px;
	height:248px;
	line-height: 24px;
	text-align:center;
}
.women_down_r li.border{
	border-bottom: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}
.women_down_r li.border_b{
	border-bottom: 1px solid #ddd;	
}
.women_down_r li.border_r{
	border-right: 1px solid #ddd;	
}
.women_down_r li img{
	width:175px;
	height:170px;
	margin:20px;	
}

/* cont_shoes*/
.shoes{
	width:1200px;
	height:627px;
}
.shoes .shoes_top{
	height:45px;
}
.shoes_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.shoes_top .bg_l{
	float:left;
}
.shoes_top .bg_r{
	float:right;
}
.shoes_top h1{
	float:left;
	margin:0 50px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.shoes .shoes_down{
	height:500px;
}
.shoes_down .shoes_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.shoes_down_l .shoesl_top{
	width:183px;
	height:214px;
	display:block;
	padding:20px;
	border-bottom: 1px solid #ddd;
}
.shoes_down_l .shoesl_down li{
	float:left;
	width:111px;
	height:60px;
	background:#ccc;
	border-bottom: 1px solid #ddd;
}
.shoes_down_l .shoesl_down li.bdr{
	border-right: 1px solid #ccc;
}
.shoes_down_l .shoesl_down img{
	width:111px;
	height:60px;
	display:block;
}

.shoes_down .shoes_down_r{
	width:955px;
	height:500px;
	float:right;
}
.shoes_down .shoes_down_r span{
	float:left;
	border-left: 1px solid #ddd;
}
.shoes_down_r .shoes_down_rr{
	width:647px;
	height:498px;
	border: 1px solid #ddd;
	float:right;
}	
.shoes_down_r li{
	float:left;	
	width:215px;
	height:248px;
	line-height: 24px;
	text-align:center;
}
.shoes_down_r li.border{
	border-bottom: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}
.shoes_down_r li.border_b{
	border-bottom: 1px solid #ddd;	
}
.shoes_down_r li.border_r{
	border-right: 1px solid #ddd;	
}
.shoes_down_r li img{
	width:175px;
	height:170px;
	margin:20px;	
}

/* cont_boyfriend */
.boyfriend{
	width:1200px;
	height:627px;
}
.boyfriend .boyfriend_top{
	height:45px;
}
.boyfriend_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.boyfriend_top .bg_l{
	float:left;
}
.boyfriend_top .bg_r{
	float:right;
}
.boyfriend_top h1{
	float:left;
	margin:0 52px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.boyfriend .boyfriend_down{
	height:500px;
}
.boyfriend_down .boyfriend_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.boyfriend_down_l .top{
	width:223px;
	height:393px;
	background:#fbfbfb;
	overflow:hidden;
}
.boyfriend_down_l .top a{
	margin-top: 20px;
	margin-left: 26px;
	display:block;
}
.boyfriend_down .down{
	width:223px;
	height:105px;
	font-size:12px;
	overflow:hidden;
}
.boyfriend_down .down ul{
	margin-left:25px;
	margin-top:10px;	
}
.boyfriend_down .down li{
	float:left;
	height:20px;
	margin-bottom: 10px;
	margin-right:6px;
}
.boyfriend_down .down a{
	border: 1px solid #fff;
	padding:3px 5px;
	font-family:"宋体";
}
.boyfriend_down .down a:hover{
	border: 1px solid #ddd;
	text-decoration:none;
}
.boyfriend_down .down a.tshit{
	margin-right:30px;
}
.boyfriend_down .down a.liang{
	margin-right:22px;
}
.boyfriend_down .down a.niu{
	margin-right:10px;
}

.boyfriend_down .boyfriend_down_r{
	width:955px;
	height:498px;
	float:right;
}
.boyfriend_down_r .left{	
	width:305px;
	height:500px;
	float:left;
}
.boyfriend_down_r .center{	
	width:305px;
	height:500px;
	float:left;
	margin:0 20px;
}
.boyfriend_down_r .right{	
	width:305px;
	height:500px;
	float:left;
}
.boyfriend_down_down{
	width:305px;
	height:150px;
	margin-top: 20px;
	overflow:hidden;
}
.boyfriend_down_down img{
	float:left;
	margin-right: 10px;
}
.boyfriend_down_r a:hover{
	text-decoration:none;
}
.boyfriend_down_down .tit{
	line-height: 24px;
	margin-top: 50px;
	display:block;
}
.boyfriend_down_down .tit .color{
	color:#999;
}

/* cont_bag */
.bag{
	width:1200px;
	height:627px;
}
.bag .bag_top{
	height:45px;
}
.bag_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.bag_top .bg_l{
	float:left;
}
.bag_top .bg_r{
	float:right;
}
.bag_top h1{
	float:left;
	margin:0 52px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.bag .bag_down{
	height:500px;
}
.bag_down .bag_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.bag_down_l .top{
	width:223px;
	height:393px;
	background:#fbfbfb;
	overflow:hidden;
}
.bag_down_l .top a{
	margin-top: 20px;
	margin-left: 26px;
	display:block;
}
.bag_down .down{
	width:223px;
	height:105px;
	font-size:12px;
	overflow:hidden;
}
.bag_down .down ul{
	margin-left:25px;
	margin-top:10px;	
}
.bag_down .down li{
	float:left;
	height:20px;
	margin-bottom: 10px;
	margin-right:6px;
}
.bag_down .down a{
	border: 1px solid #fff;
	padding:3px 5px;
	font-family:"宋体";
}
.bag_down .down a:hover{
	border: 1px solid #ddd;
	text-decoration:none;
}
.bag_down .down a.tshit{
	margin-right:10px;
}
.bag_down .down a.liang{
	margin-right:22px;
}
.bag_down .down a.niu{
	margin-right:10px;
}

.bag_down .bag_down_r{
	width:955px;
	height:498px;
	float:right;
}
.bag_down_r .left{	
	width:305px;
	height:500px;
	float:left;
}
.bag_down_r .center{	
	width:305px;
	height:500px;
	float:left;
	margin:0 20px;
}
.bag_down_r .right{	
	width:305px;
	height:500px;
	float:left;
}
.bag_down_down{
	width:305px;
	height:150px;
	margin-top: 20px;
	overflow:hidden;
}
.bag_down_down img{
	float:left;
	margin-right: 10px;
}
.bag_down_r a:hover{
	text-decoration:none;
}
.bag_down_down .tit{
	line-height: 24px;
	margin-top: 50px;
	display:block;
}
.bag_down_down .tit .color{
	color:#999;
}

/* cont_sports*/
.sports{
	width:1200px;
	height:627px;
}
.sports .sports_top{
	height:45px;
}
.sports_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.sports_top .bg_l{
	float:left;
}
.sports_top .bg_r{
	float:right;
}
.sports_top h1{
	float:left;
	margin:0 50px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.sports .sports_down{
	height:500px;
}
.sports_down .sports_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.sports_down_l .sportsl_top{
	width:183px;
	height:214px;
	display:block;
	padding:20px;
	border-bottom: 1px solid #ddd;
}
.sports_down_l .sportsl_down li{
	float:left;
	width:111px;
	height:60px;
	background:#ccc;
	border-bottom: 1px solid #ddd;
}
.sports_down_l .sportsl_down li.bdr{
	border-right: 1px solid #ccc;
}
.sports_down_l .sportsl_down img{
	width:111px;
	height:60px;
	display:block;
}

.sports_down .sports_down_r{
	width:955px;
	height:500px;
	float:right;
}
.sports_down .sports_down_r span{
	float:left;
	border-left: 1px solid #ddd;
}
.sports_down_r .sports_down_rr{
	width:647px;
	height:498px;
	border: 1px solid #ddd;
	float:right;
}	
.sports_down_r li{
	float:left;	
	width:215px;
	height:248px;
	line-height: 24px;
	text-align:center;
}
.sports_down_r li.border{
	border-bottom: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}
.sports_down_r li.border_b{
	border-bottom: 1px solid #ddd;	
}
.sports_down_r li.border_r{
	border-right: 1px solid #ddd;	
}
.sports_down_r li img{
	width:175px;
	height:170px;
	margin:20px;	
}

/* cont_beauty*/
.beauty{
	width:1200px;
	height:627px;
}
.beauty .beauty_top{
	height:45px;
}
.beauty_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.beauty_top .bg_l{
	float:left;
}
.beauty_top .bg_r{
	float:right;
}
.beauty_top h1{
	float:left;
	margin:0 50px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.beauty .beauty_down{
	height:500px;
}
.beauty_down .beauty_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.beauty_down_l .beautyl_top{
	width:183px;
	height:214px;
	display:block;
	padding:20px;
	border-bottom: 1px solid #ddd;
}
.beauty_down_l .beautyl_down li{
	float:left;
	width:111px;
	height:60px;
	background:#ccc;
	border-bottom: 1px solid #ddd;
}
.beauty_down_l .beautyl_down li.bdr{
	border-right: 1px solid #ccc;
}
.beauty_down_l .beautyl_down img{
	width:111px;
	height:60px;
	display:block;
}

.beauty_down .beauty_down_r{
	width:955px;
	height:500px;
	float:right;
}
.beauty_down .beauty_down_r span{
	float:left;
	border-left: 1px solid #ddd;
}
.beauty_down_r .beauty_down_rr{
	width:647px;
	height:498px;
	border: 1px solid #ddd;
	float:right;
}	
.beauty_down_r li{
	float:left;	
	width:215px;
	height:248px;
	line-height: 24px;
	text-align:center;
}
.beauty_down_r li.border{
	border-bottom: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}
.beauty_down_r li.border_b{
	border-bottom: 1px solid #ddd;	
}
.beauty_down_r li.border_r{
	border-right: 1px solid #ddd;	
}
.beauty_down_r li img{
	width:175px;
	height:170px;
	margin:20px;	
}

/* cont_life*/
.life{
	width:1200px;
	height:627px;
}
.life .life_top{
	height:45px;
}
.life_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.life_top .bg_l{
	float:left;
}
.life_top .bg_r{
	float:right;
}
.life_top h1{
	float:left;
	margin:0 50px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.life .life_down{
	height:500px;
}
.life_down .life_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.life_down_l .lifel_top{
	width:183px;
	height:214px;
	display:block;
	padding:20px;
	border-bottom: 1px solid #ddd;
}
.life_down_l .lifel_down li{
	float:left;
	width:111px;
	height:60px;
	background:#ccc;
	border-bottom: 1px solid #ddd;
}
.life_down_l .lifel_down li.bdr{
	border-right: 1px solid #ccc;
}
.life_down_l .lifel_down img{
	width:111px;
	height:60px;
	display:block;
}

.life_down .life_down_r{
	width:955px;
	height:500px;
	float:right;
}
.life_down .life_down_r span{
	float:left;
	border-left: 1px solid #ddd;
}
.life_down_r .life_down_rr{
	width:647px;
	height:498px;
	border: 1px solid #ddd;
	float:right;
}	
.life_down_r li{
	float:left;	
	width:215px;
	height:248px;
	line-height: 24px;
	text-align:center;
}
.life_down_r li.border{
	border-bottom: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}
.life_down_r li.border_b{
	border-bottom: 1px solid #ddd;	
}
.life_down_r li.border_r{
	border-right: 1px solid #ddd;	
}
.life_down_r li img{
	width:175px;
	height:170px;
	margin:20px;	
}

/* cont_baby*/
.baby{
	width:1200px;
	height:627px;
}
.baby .baby_top{
	height:45px;
}
.baby_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.baby_top .bg_l{
	float:left;
}
.baby_top .bg_r{
	float:right;
}
.baby_top h1{
	float:left;
	margin:0 50px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.baby .baby_down{
	height:500px;
}
.baby_down .baby_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.baby_down_l .babyl_top{
	width:183px;
	height:214px;
	display:block;
	padding:20px;
	border-bottom: 1px solid #ddd;
}
.baby_down_l .babyl_down li{
	float:left;
	width:111px;
	height:60px;
	background:#ccc;
	border-bottom: 1px solid #ddd;
}
.baby_down_l .babyl_down li.bdr{
	border-right: 1px solid #ccc;
}
.baby_down_l .babyl_down img{
	width:111px;
	height:60px;
	display:block;
}

.baby_down .baby_down_r{
	width:955px;
	height:500px;
	float:right;
}
.baby_down .baby_down_r span{
	float:left;
	border-left: 1px solid #ddd;
}
.baby_down_r .baby_down_rr{
	width:647px;
	height:498px;
	border: 1px solid #ddd;
	float:right;
}	
.baby_down_r li{
	float:left;	
	width:215px;
	height:248px;
	line-height: 24px;
	text-align:center;
}
.baby_down_r li.border{
	border-bottom: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}
.baby_down_r li.border_b{
	border-bottom: 1px solid #ddd;	
}
.baby_down_r li.border_r{
	border-right: 1px solid #ddd;	
}
.baby_down_r li img{
	width:175px;
	height:170px;
	margin:20px;	
}

/* cont_eat*/
.eat{
	width:1200px;
	height:627px;
}
.eat .eat_top{
	height:45px;
}
.eat_top span{
	width:492px;
	height: 11px;
	background:url(../images/cont_bg.png) 0 -12px;
	display:block;
	margin-top: 7px;
}
.eat_top .bg_l{
	float:left;
}
.eat_top .bg_r{
	float:right;
}
.eat_top h1{
	float:left;
	margin:0 50px;
	font-family:"微软雅黑";
	font-weight: bold;
	line-height: 24px;
}

.eat .eat_down{
	height:500px;
}
.eat_down .eat_down_l{
	width:223px;
	height:498px;
	border: 1px solid #ddd;
	float:left;
}
.eat_down_l .eatl_top{
	width:183px;
	height:214px;
	display:block;
	padding:20px;
	border-bottom: 1px solid #ddd;
}
.eat_down_l .eatl_down li{
	float:left;
	width:111px;
	height:60px;
	background:#ccc;
	border-bottom: 1px solid #ddd;
}
.eat_down_l .eatl_down li.bdr{
	border-right: 1px solid #ccc;
}
.eat_down_l .eatl_down img{
	width:111px;
	height:60px;
	display:block;
}

.eat_down .eat_down_r{
	width:955px;
	height:500px;
	float:right;
}
.eat_down .eat_down_r span{
	float:left;
	border-left: 1px solid #ddd;
}
.eat_down_r .eat_down_rr{
	width:647px;
	height:498px;
	border: 1px solid #ddd;
	float:right;
}	
.eat_down_r li{
	float:left;	
	width:215px;
	height:248px;
	line-height: 24px;
	text-align:center;
}
.eat_down_r li.border{
	border-bottom: 1px solid #ddd;	
	border-right: 1px solid #ddd;	
}
.eat_down_r li.border_b{
	border-bottom: 1px solid #ddd;	
}
.eat_down_r li.border_r{
	border-right: 1px solid #ddd;	
}
.eat_down_r li img{
	width:175px;
	height:170px;
	margin:20px;	
}


/* footer*/
#footer{
	height:219px;
	border-top: 1px solid #dadada;
	background:#fbfbfb url(../images/footer_bg.png) repeat-x;
}
.footer_in{
	width:1200px;
	height:190px;
	margin:0 auto;
	padding-top: 29px;

}
.footer_top{
	height:140px;
}
.footer_down{
	height:49px;
	border-top: 1px solid #e5e5e5;
}

.footer_top_left{	
	width:337px;
	height:140px;
	line-height: 22px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#999;
	float:left;
}
.footer_top_left h1{
	margin-bottom: 8px;
}
.footer_top_left a.polic{	
	background:url(../images/polic.png) no-repeat left center;
	display:block;
	padding-left: 24px;
}
.footer_top_left a{	
	color:#999;
}
.footer_top_left a:hover{	
	text-decoration:none;
}

.footer_top dl{
	float:left;
	width:170px;
	line-height: 23px;
	font-size:12px;
}
.footer_top dt{	
	font-weight: bold;
}
.footer_top dd a{	
	color:#666;
}

.footer_down li{
	float:left;
	line-height:49px ;
	font-size:12px;
}
.footer_down li a{
	margin:0 14px;
	color:#4d4d4d;
}
.footer_down li a:hover{
	margin:0 14px;
	color:#ff0078;
}


/* nav_r*/

#nav_right{
	width:30px;
	height:100%;
	position:fixed;
	right:0;
	top:0;
	background:#202020;
}
.nav_right{
	width:100%;
	height:100%;
	position:relative;
}
.nav_top{
	margin-top: 62px;
	font-size:12px;
}
.nav_top a{
	color:#fff;
	display:block;
	width:30px;
}
.nav_right a:hover{
	text-decoration:none;
	background:#f02e22;
}
.nav_top a span{
	line-height: 15px;
	width:22px;
	border-bottom: 1px solid #919191;
	display:block;
	margin-left: 4px;
	text-align: center;
	padding-bottom: 12px;
	padding-top: 36px;
}
.nav_top .a1 span{
	background:url(../images/nav-icons_r1_c1.png) no-repeat center 12px ;
}
.nav_top .a2 span{
	background:url(../images/nav-icons_r3_c1.png) no-repeat center 12px ;
}
.nav_top .a3 span{
	background:url(../images/nav-icons_r7_c2.png) no-repeat center 12px ;
}
.nav_top .a4 span{
	background:url(../images/nav-icons_r5_c2.png) no-repeat center 12px ;
}
.nav_down a{
	display:block;
	height:36px;
}
.nav_down a span{
	line-height: 15px;
	width:22px;
	margin-top: 145px;
	border-top: 1px solid #919191;
	display:block;
	margin-left: 4px;
	text-align: center;
	padding-bottom: 12px;
	padding-top: 36px;
	background:url(../images/nav-icons_r11_c1.png) no-repeat center 12px;
}













